  <div class="container">
    <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <% for (var i = 0; i < cantDias; i++) { %>
                <li class="tab col s3"><a  class="active" href="#test1">Día <%= i+1 %></a></li>
            <% } %>
          </ul>
        </div>
        <% for (var i = 0; i < cantDias; i++) { %>
            <div id="test1" class="col s12"><%= i %></div>
        <% } %>
      </div>
  </div>
